*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    max-width: 480px;
    width: 100%;
    margin: 0 auto;
}

form {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, button {
    height: 24px;
    width: 240px;
    padding: 4px;
}

.texto-form{
    margin-top: 10px;
}

button{
    margin-top: 12px;
    background-color: greenyellow;
    border: none;
    cursor: pointer;
}

